$main-theme-color: rgba(3, 94, 122, 0.8);

body    {
    font-family: Raleway;
    text-align: center;
    background: black;
    margin: 0;
}

h1  {
    background: $main-theme-color;
    color: white;
    margin: 0;
    padding: 5px 0px 5px 0px;
    font-weight: normal;
    text-transform: uppercase;
}

p   {
    background: white;
    margin: 0;
    height: 30px;
}

button    {
    font-family: inherit;
    font-weight: 800;
    background: transparent;
    border: 0;
    margin: 0;
    color: $main-theme-color;
    text-transform: uppercase;
    height: 100%;
}



#guess-color {
    font-size: 1.75em;
}

table {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 10px;

}

td  {
    padding: 60px;
    border-radius: 15px;  
}


.wrong-answer {
    transition: background 1s;
    background: transparent !important; //need "!important" to override style attribute added by JS
}

.easy-mode-on   {
    background-color: transparent !important; //need "!important" to override style attribute added by JS
}

.button-active, button:hover, {
    transition: background 1s, color 1s;
    background: $main-theme-color;
    color: white;
}

#message    {
    display: inline-block;
    width: 13%;
    margin: auto;
    font-size: 0.8rem;
}